<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-hello_world" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>HelloWorldPlugin</name>
	<js-module name="HelloWorldPlugin" src="www/HelloWorldPlugin.js">
		<clobbers target="cordova.plugins.HelloWorldPlugin"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="HelloWorldPlugin">
				<param name="android-package" value="cordova.plugin.hello_world.HelloWorldPlugin"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/HelloWorldPlugin.java" target-dir="src/cordova/plugin/hello_world/HelloWorldPlugin"/>
	</platform>
</plugin>